snippet cb= "Major comment box"
# ==========================================================================
# $0
# ==========================================================================
endsnippet

snippet cb- "Minor comment box"
# --------------------------------------------------------------------------
# $0
# --------------------------------------------------------------------------
endsnippet